<div class="wrapper">
    <div class="content">
        <div class="indent">
            <h2>Мы предлагаем несколько видов комнат:</h2>
            <div class="container" id="containerServices">
                <script type="text/javascript" src="js/booking/booking.js"/>
                <script type="text/javascript" src="js/services/services.js"/>
                <script type="text/javascript">
                    preparationGenerateRooms();
                </script>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>