<div class="container">
    <div class="content">
        <h2 class="gallery_h2">Галерея отеля</h2>
        <div class="main_gallery">
            <a href="images/1.jpg" class="flipLightBox">
                <img src="images/1.jpg" width="300" height="300" alt="flipLightBox Image 1" />
                <span><b>LightBox</b> Text to accompany first lightbox image</span>
            </a>

            <a href="images/2.jpg" class="flipLightBox">
                <img src="images/2.jpg" width="300" height="300" alt="flipLightBox Image 2" />
                <span><b>LightBox Image 2</b><br />Text to accompany 2nd lightbox image</span>
            </a>

            <a href="images/3.jpg" class="flipLightBox">
                <img src="images/3.jpg" width="300" height="300" alt="flipLightBox Image 3" />
                <span><b>LightBox Three</b> Text to accompany the third lightbox image</span>
            </a>

            <a href="images/4.jpg" class="flipLightBox">
                <img src="images/4.jpg" width="300" height="300" alt="flipLightBox Image 4" />
                <span><b>The Final LightBox</b> Text to accompany the last of the lighboxes - <span data-href="06-create-groups-demo.html" data-target="_self">Go To Next Demo</span></span>
            </a>

            <a href="images/5.jpg" class="flipLightBox">
                <img src="images/5.jpg" width="300" height="300" alt="flipLightBox Image 1" />
                <span><b>LightBox</b> Text to accompany first lightbox image</span>
            </a>

            <a href="images/6.jpg" class="flipLightBox">
                <img src="images/6.jpg" width="300" height="300" alt="flipLightBox Image 2" />
                <span><b>LightBox Image 2</b><br />Text to accompany 2nd lightbox image</span>
            </a>

            <a href="images/7.jpg" class="flipLightBox">
                <img src="images/7.jpg" width="300" height="300" alt="flipLightBox Image 3" />
                <span><b>LightBox Three</b> Text to accompany the third lightbox image</span>
            </a>

            <a href="images/8.jpg" class="flipLightBox">
                <img src="images/8.jpg" width="300" height="300" alt="flipLightBox Image 4" />
                <span><b>The Final LightBox</b> Text to accompany the last of the lighboxes - <span data-href="06-create-groups-demo.html" data-target="_self">Go To Next Demo</span></span>
            </a>
            <a href="images/9.jpg" class="flipLightBox">
                <img src="images/9.jpg" width="300" height="300" alt="flipLightBox Image 1" />
                <span><b>LightBox</b> Text to accompany first lightbox image</span>
            </a>

            <a href="images/10.jpg" class="flipLightBox">
                <img src="images/10.jpg" width="300" height="300" alt="flipLightBox Image 2" />
                <span><b>LightBox Image 2</b><br />Text to accompany 2nd lightbox image</span>
            </a>

            <a href="images/11.jpg" class="flipLightBox">
                <img src="images/11.jpg" width="300" height="300" alt="flipLightBox Image 3" />
                <span><b>LightBox Three</b> Text to accompany the third lightbox image</span>
            </a>

            <a href="images/12.jpg" class="flipLightBox">
                <img src="images/12.jpg" width="300" height="300" alt="flipLightBox Image 3" />
                <span><b>LightBox Three</b> Text to accompany the third lightbox image</span>
            </a>



        </div>

        <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>-->
        <script type="text/javascript" src="js/fliplightbox.min.js"></script>
        <script type="text/javascript">

            $('body').flipLightBox({

                lightbox_text_status: 0,
                lightbox_navigation_status: 0

            })

        </script>
    </div>
<div class="clear"></div>
</div>