<div class="login-form" id="idEntry">
    <div class="bs-docs-example">
        <div class="tabbable">
            <div class="tab-content">
                <span>Вход</span>
                <form method="post" action="/authorization" data-toggle="validator">
                    <div id="myFormIn">
                        <div class="form-group group">
                            <label for="emailIn" class="label">Email</label>
                            <input id="emailIn" type="text" class="input" name="email" data-error="data-error!" required>
                            <div class="help-block">Error!</div>
                        </div>
                        <div class="form-group group">
                            <label for="passIn" class="label">Пароль</label>
                            <input id="passIn" type="password" class="input" data-type="password" name="password" required>
                        </div>
                        <div class="form-group group">
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </div>
                        <div class="hr">

                        </div>
                    </div>
                </form>
                <p></p>
            </div>
            <p></p>
        </div>
        <p></p>
    </div>
</div>