<div class="all_documents">
    <h2>Ваши документы:</h2>
    <h3><a class="docRef" href="/create_doc?docname=reservation_voucher&id=4">1) Электронный ваучер на проживание</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=reservation_confirm&id=4">2) Подтверждение брони</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=room_document&id=2">3)Информация о номере</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=user_document&id=2">4)Информация о пользователе</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=room_type_document&id=4">5) Информация о типе номера</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=room_report&type=by_month&year=2017">6) Отчет по комнатам по месяцам</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=room_report&type=by_quarter&year=2017">7) Отчет по комнатам по кварталам</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=financial_report&type=by_month&year=2017">8) Годовой отчет по месяцам</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=financial_report&type=by_quarter&year=2017">9) Годовой отчет по кварталам</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=reservation_report&id=4">10) Брони пользователя</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=entity_csv_report&entity=room">11) Отчет по комнатам</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=entity_csv_report&entity=reservation">12) Отчет по броням</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=entity_csv_report&entity=room_type">13) Отчет по типам комнат</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=entity_csv_report&entity=user">14) Отчет по пользователям</a></h3>
    <h3><a class="docRef" href="/create_doc?docname=entity_csv_report&entity=role">15) Отчет по ролям</a></h3>
</div>
