<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CheckRole" class="by.hotel.util.CheckRole">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="AccountController" class="by.hotel.controller.AccountController">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>